body p {
  border: 10px transparent solid;
  box-sizing: border-box;
  font-size: 20px;
  display: inline-block;
  margin: 20px;
}

body :first-child {
  background-color: #f7b617;
}

body :first-child + p {
  background-color: #2b2b2b;
  color: white;
}

body :last-child {
  background-color: #f7b617;
}
